<h1>Orders</h1>

<table class="order-table-styles table table-hover table-bordered">
  <thead>
    <tr>
      <th class="col-md-2">Name</th>
      <th class="col-md-2">Address</th>
      <th class="col-md-2">Email</th>
      <th class="col-md-2">Pay type</th>
      <th class="col-md-4"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td>
          <%= link_to 'Show', order %> |
          <%= link_to 'Edit', edit_order_path(order) %> |
          <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
