<h2>Your cart</h2>
  <div class="carts">
    <% @cart.line_items.each do |item| %>
      <div>
        <%= item.quantity %>&nbsp;&times;&nbsp;
        <%= item.product.title %>&nbsp;&nbsp;&nbsp;
        <span class="priceLine"><%= number_to_currency(item.total_price) %></span>
      </div>
    <% end %>
    <br/>
    <div class="total_line">
      <span>Total&nbsp;&nbsp;&nbsp;</span>
      <span><%= number_to_currency(@cart.total_price) %></span>
    </div>
    <%= button_to 'Empty cart', @cart, class: 'btn btn-danger', form_class: 'button_to new-item', method: :delete, data: {confirm: 'Are You sure?'} %>
  </div>

