<%= form_for(product, url: product_path, method: :patch) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h4>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table class="col-md-12 edit_product">
    <tbody>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="product-img">
          <%= image_tag(img_url(@product)) %>
          <div class="btn-primary upload-f">
            <%= form.file_field :thumbnail %>
          </div>
          <small>OR enter URL to an image</small><br />
          <%= form.text_field :image_url, class: 'remote_url' %>
        </td>
        <td class="list_description">
          <div class="product-title">
            <strong><%= form.label :title %></strong>
          </div>
          <div id="product-title">
            <%= form.text_field :title %>
          </div>
          <div class="product-description">
            <strong><%= form.label :description %></strong>
          </div>
          <div id="product-description">
            <%= form.text_area :description, id: :product_description, rows: 7 %>
          </div>
          <div class="price">
            <strong><%= form.label :price %></strong>
          </div>
          <div class="price_field">
            <%= form.text_field :price, id: :product_price %>
          </div><br />
          <div class="product-functions row">
            <%= form.submit 'Save changes', class: :'btn btn-success update_product' %> |
            <%= link_to 'Back', products_path, class: 'btn btn-default' %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
