<%= form_for(product, url: product_path, method: :patch) do |form| %>
    <% if product.errors.any? %>
        <div id="error_explanation">
          <h4><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h4>
          <ul>
            <% product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <table class="col-md-12">
      <tbody>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="product-img edit">
          <%= image_tag(@product.image_url, class: 'list_image') %>
          <div>
            <strong><%= form.label :image_url %>:</strong>
            <span>
                <%= form.text_field :image_url, id: :product_image_url %>
              </span>
          </div>
        </td>
        <td class="list_description">
          <div class="product-title edit row">
            <strong><%= form.label :title %></strong>
            <span>
                <%= form.text_field :title, id: :product_title %>
              </span>
          </div>
          <div class="product-description edit row">
            <strong><%= form.label :description %></strong>
            <span>
                <%= form.text_area :description, id: :product_description, rows: 6 %>
              </span>
            <br/>
            <div class="price edit">
              <strong><%= form.label :price %></strong>
              <span>
                  <%= form.text_field :price, id: :product_price %>
                </span>
            </div>
          </div>
        </td>
        <td>
          <div class="product-functions row">
            <%= form.submit 'Save changes', class: :'btn btn-success update_product' %> |
            <%= link_to 'Back', products_path, class: 'btn btn-default' %>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
<% end %>
