<h1>
  <%= link_to 'New Product', new_product_path, class: 'btn btn-success'  %>
  All Products
</h1>
<%= will_paginate @products, :style => 'color:blue' %>
<%= page_entries_info @products %>
<table>
  <% @products.each do |product| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td>
          <%= image_tag(product.image_url, class: 'list_image') %>
        </td>
        <td class="list_description">
          <dl>
            <dt><%= product.title %></dt>
            <dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
          </dl>
          <dl>
            <dt class="product-functions">
              <%= link_to 'Show', product, class: 'btn btn-default' %>&nbsp;|
              <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-primary' %>&nbsp;|
              <%= link_to 'Destroy', product, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
            </dt>
          </dl>
        </td>
      </tr>
  <% end %>
</table>
