<h1>
  <%= link_to 'New Product', new_product_path, class: 'btn btn-success', style: 'padding: 11px;'  %>
  All Products
</h1>
<div class="paginate">
  <%= will_paginate @products %><br />
  <%= page_entries_info @products %>
</div>
<table class="col-md-12">
  <% @products.each do |product| %>
    <tbody>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="product-img">
          <%= image_tag(img_url(product), class: 'list_image') %>
        </td>
        <td class="list_description">
          <div class="product-title">
            <%= product.title %>
          </div>
          <div class="product-description">
            <%= strip_tags(product.description) %>
          </div>
          <div class="product-functions">
            <%= link_to 'Show', product, class: 'btn btn-default' %>&nbsp;|
            <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-primary' %>&nbsp;|
            <%= link_to 'Destroy', product, class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
