<h1>New Product</h1>

<div class="clearfix new-template">
  <%= form_for(@product, url: products_path, method: :post) do |form| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h4>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <table class="col-md-12 new-template">
      <tbody>
        <tr>
          <td class="col-md-1">
            <strong><%= form.label :title %></strong>
          </td>
          <td class="col-md-7">
            <%= form.text_field :title, id: :product_title %>
          </td>
          <td class="col-md-4">
          </td>
        </tr>
        <tr>
          <td class="col-md-1">
            <strong><%= form.label :description %></strong>
          </td>
          <td class="col-md-7">
            <%= form.text_area :description, id: :product_description, rows: 6 %>
          </td>
          <td class="col-md-4"></td>
        </tr>
        <tr>
          <td class="col-md-1">
            <strong>Upload file</strong>
          </td>
          <td class="file-input-field col-md-8">
            <%= form.file_field :thumbnail %>
          </td>
          <td class="col-md-3"></td>
        </tr>
        <tr>
          <td class="col-md-1">
            <strong><%= form.label :price %></strong>
          </td>
          <td class="col-md-7">
            <%= form.text_field :price, id: :product_price %>
          </td>
          <td class="col-md-4">
            <%= form.submit 'Create product', class: :'btn btn-success update_product' %> |
            <%= link_to 'Back', products_path, class: 'btn btn-default' %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
