<table  style="margin: 10% 0" class="col-md-12">
  <tbody>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td class="product-img">
        <%= image_tag(img_url(@product), class: 'list_image') %>
      </td>
      <td class="show-container">
        <div class="product-title">
          <strong>Title:</strong>
          <div class="show-title">
            <%= @product.title %>
        </div>
        </div>
        <div id="product-description">
          <strong>Description:</strong>
          <div class="show-description">
            <%= @product.description %>
        </div>
        </div>
        <div class="price">
          <strong>Price:</strong>
          <%= number_to_currency(@product.price) %>
        </div>
        <div class="product-functions">
          <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary' %>&nbsp;|
          <%= link_to 'Back', products_path, class: 'btn btn-default' %>
        </div>
      </td>
    </tr>
  </tbody>
</table>