<table  style="margin: 10% 0">
  <tbody>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="product-img">
      <%= image_tag(@product.image_url, class: 'list_image') %>
      <div>
        <strong>Image url:</strong>
        <%= @product.image_url %>
      </div>
    </td>
    <td class="list_description">
      <div class="product-title">
        <strong>Title:</strong>
        <%= @product.title %>
      </div>
      <div class="product-description">
        <strong>Description:</strong>
        <%= @product.description %>
        <br/>
        <div class="price">
          <strong>Price:</strong>
          <%= number_to_currency(@product.price) %>
        </div>
      </div>
      <div class="product-functions">
        <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary' %>&nbsp;|
        <%= link_to 'Back', products_path, class: 'btn btn-default' %>
      </div>
    </td>
  </tr>
  </tbody>
</table>