<div class="store">
  <h1>Your catalog</h1>
  <div class="paginate">
    <%= will_paginate @products %><br/>
    <%= page_entries_info @products %>
  </div>
  <% @products.each do |product| %>
    <div class="entry">
      <%= image_tag(img_url(product)) %>
      <h3><%= truncate(product.title, length: 75) %></h3>
      <div class="store-description">
        <p>
          <%= truncate(sanitize(product.description), length: 540) %>
        </p>
      </div>
      <div class="price_line">
        <span class="price"><%= number_to_currency(product.price) %></span>
        <%= button_to 'Add to Cart', line_items_path(product_id: product), class: 'button_to new-item' %>
      </div>
    </div>
  <% end %>
</div>