<!DOCTYPE html>
<html>
  <head>
    <title>Books online store</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="topMenu">
          <div id="title">
            SokalShop
          </div>
          <div id="login">
            <!--https://launchschool.com/blog/how-to-use-devise-in-rails-for-authentication-->
            <% if user_signed_in? %>
                <%= link_to "Logout #{ current_user.email }", destroy_user_session_path, method: :delete %>
            <% else %>
                <%= link_to 'Login', new_user_session_path, method: :get %>
            <% end %>
          </div>
        </div>
      </div>
      <div id="columns">
        <% if user_signed_in? %>
          <div id="side">
            <ul>
              <li><%= link_to "Products", products_path %></li>
              <li><%= link_to "Store", store_path %></li>
              <li><a href="">Questions</a></li>
              <li><a href="">News</a></li>
              <li><a href="">Contact</a></li>
              <li><a></a></li>
            </ul>
          </div>
      </div>
        <div id="main">
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
