<!DOCTYPE html>
<html>
  <head>
    <title>Books online store</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("logo.png")%>
    <%= @page_title || "Pragmatic Bookshelf"%>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </div>
  <div id="columns">
    <div id="side">
      <%= Time.now.strftime("%I:%M:%S %Y/%m/%d") %>
      <ul>
        <li><%= link_to "Store", store_path %></li>
        <li><%= link_to "Products", products_path %></li>
        <li><a href="">Questions</a></li>
        <li><a href="">News</a></li>
        <li><a href="">Contact</a></li>
        <li><a></a></li>
      </ul>
    </div>
    <div id="main">
      <%= yield%>
    </div>
  </div>
  </body>
</html>
