<!DOCTYPE html>
<html>
  <head>
    <title>Books online store</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <!--https://launchschool.com/blog/how-to-use-devise-in-rails-for-authentication-->
  <body>
    <header class="navbar-fixed-top">
      <div class="header">
        <nav class="navbar navbar-default navbar-inverse ">
          <div class="container">
            <div class="row">
              <ul class="nav navbar-nav first-nav">
                <li><%= link_to 'Products', products_path %></li>
                <li><%= link_to 'Store', store_path %></li>
                <li><a href="#">Discounts</a></li>
                <li><a href="#">Crediting</a></li>
                <li><a href="#">FAQ</a></li>
              </ul>
              <div class="cabinet">
                <% if user_signed_in? %>
                  <%= link_to destroy_user_session_path, method: :delete  do %>
                    <i class="fa fa-user" aria-hidden="true"></i> Logout | <%= current_user.email %>
                  <% end %>
                <% else %>
                  <%= link_to new_user_session_path do %>
                    <i class="fa fa-user" aria-hidden="true"></i> Sign in
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="header">
        <nav class="navbar navbar-default blue1">
          <div class="container">
            <div class="row">
              <ul class="nav navbar-nav second-nav">
                <li><a href="#">
                  <h1 class="logo">SOKALSHOP</h1>
                  <p class="p-logo">Internet-Store</p></a></li>
                <li><div class="glyphicon glyphicon-earphone"></div></li>
                <li><h4 class="phones"><span class="bold">(044) 537-02-22</span><br>(044) 503-00-00<br>0 800 503-000</h4></li>
                <li class="line-v"></li>
                <li><a href="#"><h4>City<br><span class="hi-bold">Select your city</span></h4></a></li>
                <li class="line-v" ></li>
                <li>
                  <form class="form-container">
                    <div class="form-group">
                      <input type="text" class="form-control" id="poshuk" placeholder="Searching...">
                    </div>
                  </form>
                </li>
                <li>
                  <div class="dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown">By all categories <span class="glyphicon glyphicon-chevron-down"></span></div>
                    <ul class="dropdown-menu"  >
                      <li ><a href="#">Something-1</a></li>
                      <li ><a href="#">Something-2</a></li>
                      <li ><a href="#">Something-3</a></li>
                      <li ><a href="#">Something-4</a></li>
                      <li ><a href="#">Something-5</a></li>
                      <li ><a href="#">Something-6</a></li>
                      <li ><a href="#">Something-7</a></li>
                      <li ><a href="#">Something-8</a></li>
                      <li ><a href="#">Something-9</a></li>
                    </ul>
                  </div>
                </li>
                <li >
                  <a href="#"><div class="basket"></div></a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <div class="wrapper clearfix">
      <div id="main">
        <%= yield %>
      </div>
    </div>
    <!-- FOOTER -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="block-f">
              <h3>ПОКУПАТЕЛЯМ</h3><br>
              <ul>
                <li><a href="#">Эксперты</a></li>
                <li><a href="#">Мастер-класс</a></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Акции в сети MegaTorg</a></li>
                <li><a href="#">Кредиты</a></li>
                <li><a href="#">Программа лояльности</a></li>
                <li><a href="#">Гарантийное обслуживание</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <div class="block-f">
              <h3>КОМПАНИЯ</h3><br>
              <ul>
                <li><a href="#">Блог</a></li>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Торговая сеть</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Аренда</a></li>
                <li><a href="#">Правовая информация</a></li>
                <li><a href="#">Сервисная поддержка</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <div class="block-f">
              <h3>НАШИ МАГАЗИНЫ ПО ВСЕЙ УКРАИНЕ</h3><br>
              <p class="m-bottom">Киев, Харьков, Львов, Днепропетровск, Кривой Рог и ещё 26 городов</p><hr>
              <div class="contacts">
                <div class="blue">24/7</div>
                <div class="phone1">0 800 507 800</div>
                <div class="phone2">(044) 591 10 90</div>
              </div>
              <div class="clearfix"></div>
              <p class="m-top">Бесплатно с мобильных и стационарных телефонов в Украине</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
